<div style="text-align: center">
   <img src="{{Info.Image}}"></img></br>
</div>

<div style="text-align: center">
   <p>{{Info.DescriptionFR}}</p></br>
</div>

<div style="text-align: center">
   <h5>Mon partie pris pour l'open source</h5>
   <p>J'utilise des solutions open source dans différentes situations et sur toutes les platformes</p><br/>
</div>

<div style="text-align: center">
   <h5>Mes offres</h5>
   <p>Sur mes développement, je propose un déploiement et une intégration continues à tous vos projet</p>
   <p>Un projet réussi est un projet fiable, sur des technologie responsable pour de meilleur performance et de sécurité</p>
   <p>ce qui différencie mes projets des autres projets c'est la charge en temps réel</p>
   <p>qui apporte un réel avantage et permet de faire la différence, que ce soit dans la communication, la prise de décision, etc...</p><br/>
</div>

<div style="text-align: center">
   <h5>Me contacter</h5>
   <p>Je selectionne soigneusement les projets auquel je participe</p>
   <p>J'aime la précision</p>
   <p>Je suis joignable sur Linkedin : kevin grondin</p><br/>
</div>
