<div style="text-align: center">
   <img src="{{Info.Image}}"></img></br>
</div>

<div style="text-align: center">
   <p>{{Info.DescriptionFR}}</p></br>
</div>

<div style="text-align: center">
   <h5>Techno</h5>
   <p>Développeur Full-Stack Javascript, avec NodeJs et React</p><br/>
</div>

<div style="text-align: center">
   <h5>Mes attentes</h5>
   <p>Je cherche à intégrer une nouvelle équipe</p><br/>
</div>

<div style="text-align: center">
   <h5>Me contacter</h5>
   <p>Je suis joignable sur Linkedin : kevin grondin</p><br/>
</div>
